header a {
    color: #4172a3;
    font-size: 16pt;
}

footer a {
    color:#4172a3;
    font-size: 12pt;
}

header svg, footer svg {
    color: #4172a3;
    margin: 5px;
}
header a:hover,
header a:active,
header svg:hover,
header svg:active,
footer a:hover,
footer a:active,
footer svg:hover,
footer svg:active {
    color: #A35752;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, p, a {
    font-family: 'Dosis', sans-serif;
}

h1 {
    color: #4172a3;
    font-size: 30pt;
    font-weight: bold;
}

header h2 {
    color: #A35752;
    font-size: 20pt;
}

header img,
footer img {
    border-radius: 50%;
    height: 15vh;
}

.blue-background {
    background-color: #4172a3;
}

.white-background {
    background-color: #f6f6f6;
}

.white-h2 {
    color: #f6f6f6;
    font-weight: bold;
    font-size: 30pt;
}

.blue-h2 {
    color:#4172a3;
    font-weight: bold;
    font-size: 30pt;
}

img.portfolio {
    margin-bottom: 5px;
    width: 70%;
}

h3 {
    color:#4172a3;
    font-size: 25pt;
}

h4 {
    color:#A35752;
}

p {
    font-size: 16pt;
}
.blue-p {
    color:#4172a3;
}

.red-p {
    color:#A35752;
}

footer p {
    font-size: 12pt;
    margin-top: 5px;
}

.portfolio button {
    background-color: #f6f6f6;
    color: #4172a3;
    border: 1px solid #4172a3;
    height: 50px;
    font-family: 'Dosis', sans-serif;
    font-size: 16pt;
    margin: 5px;
}

.portfolio button:hover,
.portfolio button:active {
    background-color: #A35752;
    color: #f6f6f6;
    border: 1px solid #f6f6f6;
}

video {
    max-width: 100%;
}