.my-navbar a {
    color: #4172a3;
    font-family: 'Dosis', sans-serif;
    font-size: 12pt;
    padding-right: 10px;
}

.my-navbar a:hover,
.my-navbar a:active,
.my-navbar svg:hover,
.my-navbar svg:active {
    color: #A35752;
}

.my-navbar h1 {
    font-family: 'Send Flowers', cursive;
    color: #4172a3;
    font-size: 30pt;
    font-weight: 900;
}

.my-navbar h2 {
    font-family: 'Dosis', sans-serif;
    color: #A35752;
    font-size: 16pt;
}

.my-navbar img {
    border-radius: 50%;
    height: 100px;
}

.my-navbar svg {
    color: #4172a3;
    margin: 5px;
}

.blue-background {
    padding-bottom: 25px;
    background-color: #4172a3;
}

.white-h2 {
    font-family: 'Send Flowers', cursive;
    color: #f6f6f6;
    font-weight: bold;
    font-size: 30pt;
    padding-top: 5vw;
}

p.about {
    font-family: 'Dosis', sans-serif;
    padding-bottom: 10vw;
    color:#4172a3;
    font-size: 12pt;
    margin-bottom: 0;
}

.blue-h2 {
    font-family: 'Send Flowers', cursive;
    color: #4172a3;
    font-weight: bold;
    font-size: 30pt;
    padding-top: 5vw;
}

img.portfolio {
    border: 1px solid #A35752;
    padding: 1px;
    margin-bottom: 5px;
    height: 200px
}

.portfolio h3 {
    color: #f6f6f6;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 16pt;
}

.portfolio p {
    font-family: 'Dosis', sans-serif;
    font-size: 12pt;
    color: #f6f6f6;
}

a {
    text-decoration: none;
}

button.portfolio {
    background-color: #f6f6f6;
    color: #4172a3;
    border: 1px solid #4172a3;
    height: 50px;
    font-family: 'Dosis', sans-serif;
    font-size: 12pt;
}

button.portfolio:hover,
button.portfolio:active {
    background-color: #A35752;
    color: #f6f6f6;
    border: 1px solid #f6f6f6;
}

.education h3 {
    color: #f6f6f6;
    font-family: 'Dosis', sans-serif;
    font-size: 16pt;
}

.education h4 {
    color: #f6f6f6;
    font-family: 'Dosis', sans-serif;
    font-size: 14pt;
}

.education p {
    font-size: 12pt;
    color: #f6f6f6;
    font-family: 'Dosis', sans-serif;
}

.footer {
    background-color: #f6f6f6;
    padding-bottom: 50px;
}

.copyright {
    color: #A35752;
    font-size: 12pt;
    font-family: 'Dosis', sans-serif;
}

.footer-logo {
    font-family: 'Send Flowers', cursive;
    font-size: 30pt;
    text-decoration: none;
    color: #4172a3;
    font-weight: 1000;
    padding-top: 5vw;
    margin: 0;
}

.white-background {
    background-color: #f6f6f6;
    background-size: 100%;
}

.contact-me {
    color: #f6f6f6;
}

.contact-me img {
    margin-top: 60px;
    border-radius: 10%;
}

.contact-me h1 {
    font-family: 'Send Flowers', cursive;
    font-size: 50pt;
    padding-left: 10px;
}

.contact-me h2 {
    font-family: 'Dosis', sans-serif;
    padding-left: 10px;
    font-size: 20pt;
}

.contact-me h3 {
    font-family: 'Dosis', sans-serif;
    padding-left: 10px;
    font-size: 16pt;
    padding-bottom: 50px;
}

a.contact-me {
    color: #f6f6f6;
    padding: 10px;
    border-radius: 10%;
}

a.contact-me:hover,
a.contact-me:active {
    background-color: #A35752;
}