header a,
footer a {
    color: #4172a3;
    font-family: 'Dosis', sans-serif;
    font-size: 16pt;
}

header svg, footer svg {
    color: #4172a3;
    margin: 5px;
}
header a:hover,
header a:active,
header svg:hover,
header svg:active,
footer a:hover,
footer a:active,
footer svg:hover,
footer svg:active {
    color: #A35752;
}

h1 {
    font-family: 'Send Flowers', cursive;
    color: #4172a3;
    font-size: 40pt;
    font-weight: 900;
}

h2 {
    font-family: 'Dosis', sans-serif;
    color: #A35752;
    font-size: 20pt;
}

header img,
footer img {
    border-radius: 50%;
    height: 10vh;
}

.blue-background {
    padding-bottom: 25px;
    background-color: #4172a3;
}

.white-h2 {
    font-family: 'Send Flowers', cursive;
    color: #f6f6f6;
    font-weight: bold;
    font-size: 50pt;
}

.blue-h2 {
    font-family: 'Send Flowers', cursive;
    color: #4172a3;
    font-weight: bold;
    font-size: 50pt;
}

img.portfolio {
    border: 1px solid #A35752;
    padding: 1px;
    margin-bottom: 5px;
    width: 70%;
}

.portfolio-white-background h3 {
    color:#4172a3;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25pt;
}

.portfolio-white-background h4 {
    font-family: 'Dosis', sans-serif;
    color:#A35752;
}

.portfolio-white-background p {
    font-family: 'Dosis', sans-serif;
    font-size: 16pt;
    color:#4172a3;
}

.portfolio-blue-background h3, .education h3 {
    color:#f6f6f6;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25pt;
}

.portfolio-blue-background h4 {
    font-family: 'Dosis', sans-serif;
    color:#f6f6f6;
}

.portfolio-blue-background p, .education p {
    font-family: 'Dosis', sans-serif;
    font-size: 16pt;
    color:#f6f6f6;
}

a {
    text-decoration: none;
}

.portfolio button {
    background-color: #f6f6f6;
    color: #4172a3;
    border: 1px solid #4172a3;
    height: 50px;
    font-family: 'Dosis', sans-serif;
    font-size: 16pt;
}

.portfolio button:hover,
.portfolio button:active {
    background-color: #A35752;
    color: #f6f6f6;
    border: 1px solid #f6f6f6;
}

.about p {
    color:#A35752;
    font-family: 'Dosis', sans-serif;
    font-size: 16pt;
}
.education h4 {
    color: #f6f6f6;
    font-family: 'Dosis', sans-serif;
}

footer {
    background-color: #f6f6f6;
    padding-bottom: 25px;
}

footer p {
    color: #A35752;
    font-size: 16pt;
    font-family: 'Dosis', sans-serif;
}

footer h2 {
    font-family: 'Send Flowers', cursive;
    font-size: 40pt;
    text-decoration: none;
    color: #4172a3;
    font-weight: 1000;
    padding-top: 25px;
    margin: 0;
}

.white-background {
    background-color: #f6f6f6;
}

footer span {
    color:#4172a3;
}